:root {
  --color-principal: #c62828;
}

.g50b {
  /* grid-column: 11/30; */
  /* height: 100%; */
  padding-left: 2em
}

.num {
  width: 30px;
  height: 30px;
  color: var(--color-principal);
  border-radius: 100%;
  border: 2px solid var(--color-principal);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 900;
  margin-right: 10px
}


.hero {
  background-color: #f8f9fa;
  padding: 60px 0;
}
.hero h1 {
  color: var(--color-principal);
  font-size: 3.5rem;
}
.hero h2 {
  color: #6c757d;
  font-size: 1.5rem;
}
.content-section {
  padding: 60px 0;
}
.vision-mission {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  height: 100%;
}
.vision-mission h3{
  color: var(--color-principal);
}
.razon h3{
  color: var(--color-principal);
}

.bg-color-principal {
  background-color: var(--color-principal);
}

/* Carusel de Marcas */
:root {
    --items-per-page: 7;
}

.carousel-basic {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-basic-container {
  white-space: nowrap;
}

.carousel-basic-item {
  display: inline-block;
  min-width: calc(100% / var(--items-per-page)); /* Display 3 items at a time */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
}

/* Carousel 2 */
.carousel-basic2 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

/* h1 {
  color: #333;
} */

.brand-carousel {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #666;
  margin-bottom: 20px;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.brand-item {
  flex: 0 0 auto;
  margin: 0 20px;
}

.brand-item img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}

