:root {
  --color-principal: #c62828;
}

.g50b {
  /* grid-column: 11/30; */
  /* height: 100%; */
  padding-left: 2em
}

.num {
  width: 30px;
  height: 30px;
  color: var(--color-principal);
  border-radius: 100%;
  border: 2px solid var(--color-principal);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: 900;
  margin-right: 10px
}


.hero {
  background-color: #f8f9fa;
  padding: 60px 0;
}
.hero h1 {
  color: var(--color-principal);
  font-size: 3.5rem;
}
.hero h2 {
  color: #6c757d;
  font-size: 1.5rem;
}
.content-section {
  padding: 60px 0;
}
.vision-mission {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  height: 100%;
}
.vision-mission h3{
  color: var(--color-principal);
}
.razon h3{
  color: var(--color-principal);
}

.bg-color-principal {
  background-color: var(--color-principal);
}